.errorMessage{
    color: red;
}




/*

Всплывающие окна

*/


.popup-window {
    background-color: white;
    padding: 15px;
}



/*

Иконки

*/

.issue-ico {
    display: table;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;

    font-family: Tahoma;
    text-shadow: 1px 1px 2px black;
    color: white;
}

a.issue-ico {
    color: white;
}

.issue-ico div {
    display: table-cell;
    vertical-align: middle;
}

.issue-ico div div {
    text-align: center;
    display: block;
}

/*             */
.issue-ico-bug {
    background-color: #BA1D48;
    color: white;
}



/*       */
.issue-ico-red {
    background-color: #BA1D48;
    color: white;
}

.issue-ico-red:hover {
    color: white;
}


.issue-ico-orange {
    background-color: #F27501;
    color: white;
}

.issue-ico-orange:hover {
    color: white;
}


.issue-ico-purple {
    background-color: #651E4A;
    color: white;
}

.issue-ico-purple:hover {
    color: white;
}


.issue-ico-pr {
    background-color: #369B17;
    color: white;
}

.issue-ico-pr:hover {
    color: white;
}



.issue-ico-navy {
    background-color: #5E3ABB;
    color: white;
}

.issue-ico-navy:hover {
    color: white;
}


.issue-ico-blue {
    background-color: #1882B6;
    color: white;
}

.issue-ico-blue:hover {
    color: white;
}


.issue-ico-light-blue {
    background-color: #1CB7CB;
    color: white;
}

.issue-ico-light-blue:hover {
    color: white;
}


.issue-ico-c3{
    background-color: #01C593;
    color: white;
}

.issue-ico-c3:hover {
    color: white;
}


.issue-ico-c4 {
    background-color: #8D1D8D;
    color: white;
}

.issue-ico-c4:hover {
    color: white;
}

.issue-ico-gray {
    background-color: gray;
    color: white;
}

.issue-ico-gray:hover {
    color: white;
}


/**
 *

span.f-bu a.f-bu-bug 
{
	background-image: url(/images/icons/bugs/bug.png);
	background-position: left center;
	background-repeat: no-repeat;
	
	display: block;
	padding: 3px 0px 3px 25px;
			
}

span.f-bu a.f-bu-enhancement 
{
	display: block;
	padding: 3px 0px 3px 20px;
	background: url(/images/icons/bugs/enhancement.png);
	background-position: left center;
	background-repeat: no-repeat; 		
}

span.f-bu a.f-bu-task {
	display: block;
	padding: 3px 0px 3px 20px;
	background: url(/images/icons/bugs/task.png);
	background-position: left center;
	background-repeat: no-repeat; 	
}

span.f-bu a.f-bu-featurerequest {
	display: block;
	padding: 3px 0px 3px 20px;
	background: url(/images/icons/bugs/featurerequest.png);
	background-position: left center;
	background-repeat: no-repeat; 	
}

span.f-bu a.f-bu-other 
{
	display: block;
	padding: 3px 0px 3px 20px;
	background: url(/images/icons/bugs/other.png); 
	background-position: left center;
	background-repeat: no-repeat;
}

span.f-bu a.f-bu-idea 
{
	display: block;
	padding: 3px 0px 3px 20px;
	background: url(/images/icons/bugs/idea.png); 
	background-position: left center;
	background-repeat: no-repeat;
} */