.errorMessage{
    color: red;
}




/*

Всплывающие окна

*/


.popup-window {
    background-color: white;
    padding: 15px;
}



/*

Иконки

*/

.issue-ico {
    display: table;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;

    font-family: Tahoma;
    text-shadow: 1px 1px 2px black;
    color: white;
}

.issue-small-ico {
    display: table;
    height: 25px;
    width: 25px;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;

    font-family: Tahoma;
    text-shadow: 1px 1px 2px black;
    color: white;
}

a.issue-ico {
    color: white;
}

.issue-ico div, .issue-small-ico div {
    display: table-cell;
    vertical-align: middle;
}

.issue-ico div div, .issue-small-ico div div {
    text-align: center;
    display: block;
}


/*             */
.issue-ico-bug {
    background-color: #BA1D48;
    color: white;
}

.issue-ico-featurerequest {
    background-color: #F27501;
    color: white;
}

.issue-ico-enhancement {
    background-color: #01C593;
    color: white;
}

.issue-ico-other {
    background-color: gray;
    color: white;
}

.issue-ico-task {
    background-color: #1882B6;
    color: white;
}

.issue-ico-idea {
    background-color: #5E3ABB;
    color: white;
}



/* */
.status-ico {
    display: block;
    height: 50px;
    width: 50px;
    background-color: white;
}



.status-small-ico {
    display: block;
    height: 25px;
    width: 25px;
    border: solid 1px gray;
    border-radius: 2px;

    background-color: white;
}






.status-ico-create {
    background-color: white;
}

.status-ico-workedon {
    background-color: green;
}

.status-ico-readyfortesting {
    background-color: blue;
}

.status-ico-rework {
    background-color: orange;
}
.status-ico-reopen {
    background-color: yellow;
}
.status-ico-closed {
    background-color: black;
}











/*       */
.issue-ico-red {
    background-color: #BA1D48;
    color: white;
}

.issue-ico-red:hover {
    color: white;
}


.issue-ico-orange {
    background-color: #F27501;
    color: white;
}

.issue-ico-orange:hover {
    color: white;
}


.issue-ico-purple {
    background-color: #651E4A;
    color: white;
}

.issue-ico-purple:hover {
    color: white;
}


.issue-ico-pr {
    background-color: #369B17;
    color: white;
}

.issue-ico-pr:hover {
    color: white;
}



.issue-ico-navy {
    background-color: #5E3ABB;
    color: white;
}

.issue-ico-navy:hover {
    color: white;
}


.issue-ico-blue {
    background-color: #1882B6;
    color: white;
}

.issue-ico-blue:hover {
    color: white;
}


.issue-ico-light-blue {
    background-color: #1CB7CB;
    color: white;
}

.issue-ico-light-blue:hover {
    color: white;
}


.issue-ico-c3{
    background-color: #01C593;
    color: white;
}

.issue-ico-c3:hover {
    color: white;
}


.issue-ico-c4 {
    background-color: #8D1D8D;
    color: white;
}

.issue-ico-c4:hover {
    color: white;
}

.issue-ico-gray {
    background-color: gray;
    color: white;
}

.issue-ico-gray:hover {
    color: white;
}

