/jquery.ajaxqueue.js
/jquery.autocomplete.js
/jquery.ba-bbq.js
/jquery.ba-bbq.min.js
/jquery.bgiframe.js
/jquery.cookie.js
/jquery.history.js
/jquery.js
/jquery.maskedinput.js
/jquery.maskedinput.min.js
/jquery.metadata.js
/jquery.min.js
/jquery.multifile.js
/jquery.rating.js
/jquery.treeview.async.js
/jquery.treeview.edit.js
/jquery.treeview.js
/jquery.yii.js
/jquery.yiiactiveform.js
/jquery.yiitab.js
/punycode.js
/punycode.min.js
